#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #333333;
    font-family: "Inter", sans-serif;
}

.flexDiv {
    display: flex;
    position: absolute;
    margin-top: 60px;
    width: 90vw;
    flex-wrap: wrap;
    max-width: 800px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

input[type="checkbox"] {
    display: none;
}

.pos-abs {
    position: absolute;
    top: -50px;
    margin: 8px;
    margin-top: 8px !important;
}

.pos-abs.life {
    left: 102px;
}

.pos-abs.hobby {
    left: 208px;
}

.tag {
    padding: 6px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 9999px;
    margin-top: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.tag::before {
    content: "#";
    margin-right: 2px;
    opacity: 0.3;
}

.work,
.note:has(.work) {
    --tagColor: #f4889e;
}

.life,
.note:has(.life) {
    --tagColor: #9797e4;
}

.hobby,
.note:has(.hobby) {
    --tagColor: #93b0e7;
}

.work,
.life,
.hobby {
    background-color: var(--tagColor);
}

.note {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 300ms ease-in-out 0s;
}

.note:hover {
    border-color: var(--tagColor);
}


#work-box:checked~.note:has(.work),
#life-box:checked~.note:has(.life),
#hobby-box:checked~.note:has(.hobby) {
    width: 31%;
    height: 160px;
    padding: 3%;
    margin: 1%;
    opacity: 1;
    border-width: 1px;
}

#work-box:checked+label div,
#life-box:checked+label div,
#hobby-box:checked+label div {
    background-color: var(--tagColor);
    color: unset;
}

#work-box+label div,
#life-box+label div,
#hobby-box+label div {
    background-color: white;
    border: 1px solid var(--tagColor);
    color: var(--tagColor);
}

#work-box~.note:has(.work),
#life-box~.note:has(.life),
#hobby-box~.note:has(.hobby) {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border-width: 0;
}

label {
    cursor: pointer;
}

label:hover {
    opacity: 0.8;
}